@charset "ISO-8859-1";


/* on va centrer le texte sur toute la page*/
body {
    text-align: center
}
 
/* souligner le titre */
h2 {
    text-decoration: underline
}
 
/* On va appliquer display flex sur tout les row */
.row {
    display: flex;
    flex-direction: row;
    border : solid black;
}
 
p {
    border : dotted red;
}
 
/* on va aussi appliquer display flex sur le container */
.container {
    display:flex;
}
 
.row {
    width : 50%
}
